@charset "UTF-8";
/* はてなブログのデザインcss */
.entry-content #mainvisual img {
  width: 100%;
}

.entry-content .official-anchor {
  margin: 20px auto;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 70%;
  padding: 10px 0;
  background: #9f4aed;
  color: #fff;
}

.entry-content .official-anchor a {
  text-align: center;
  color: #fff;
}

.entry-content .official-anchor:hover {
  opacity: 0.7;
  color: white;
}

.entry-content blockquote {
  margin-left: 0;
  position: relative;
  padding: 10px 15px 10px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
}

.entry-content blockquote:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -3px;
  content: "“";
  font-family: sans-serif;
  color: #9f4aed;
  font-size: 90px;
  line-height: 1;
}

.entry-content blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

.entry-content blockquote cite {
  display: block;
  text-align: right;
  font-size: 0.9em;
  color: #9f4aed;
}

.entry-content ul,
.entry-content ol {
  color: #9f4aed;
  border-top: solid #9f4aed 1px;
  /*上のボーダー*/
  border-bottom: solid #9f4aed 1px;
  /*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
}

.entry-content ul li,
.entry-content ol li {
  line-height: 1.5;
  padding: 0.5em 0;
}

.entry-content ul li a,
.entry-content ol li a {
  color: #9f4aed;
}

.entry-content dl {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-spacing: 0;
}

.entry-content dl dt {
  width: 30%;
  color: #9f4aed;
  border-bottom: solid 1px #9f4aed;
  padding: 10px 0;
}

.entry-content dl dd {
  margin: 0;
  width: 70%;
  border-bottom: solid 1px #ddd;
  text-align: center;
  padding: 10px 0;
}

.entry-content #index-list h4 {
  color: #9f4aed;
}

.entry-content #advertising .advertising-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.entry-content #advertising .advertising-list div {
  margin: 5px;
}

.entry-content h4 {
  color: #9f4aed;
  position: relative;
  padding-left: 25px;
}

.entry-content h4:before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 10px transparent;
  border-bottom: solid 10px #9f4aed;
}

.entry-content h4:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 1px #9f4aed;
}

.entry-content .list-2 {
  border-top: none;
  border-bottom: none;
}

.entry-content .list-2 li {
  list-style: none;
  border-bottom: 2px dashed;
  border-color: #9f4aed;
  /* 線の色 */
  position: relative;
  margin: 0.5em 0 !important;
  max-width: 730px;
  /* 横幅 */
  padding: 5px 0 0.5em 1.4em;
}

.entry-content .list-2 li:last-child {
  border: none;
}

.entry-content .list-2 li:before {
  background-color: #9f4aed;
  /* 点の色 */
  position: absolute;
  content: "";
  top: 0.9em;
  left: 0.5em;
  width: 7px;
  height: 7px;
  border-radius: 4px;
}
/*# sourceMappingURL=privacy-policy.css.map */